.menuIcon {
    margin-top: 4px;
}

.adminSidebar {
    width: 250px;
    background-color: var(--color-navy);
    color: white;
    padding: 2rem 0;
    position: fixed;
    height: 100vh;
    margin-top: -4px;
    overflow-y: auto;
}

.adminSidebar h2 {
    padding: 0 1.5rem;
    margin-bottom: 2rem;
    font-size: 1.25rem;
}

.adminNav {
    list-style: none;
}

.adminNav li {
    margin-bottom: 0.5rem;
}

.adminNav button {
    font-family: inherit;
    padding: 0.2rem 1.5rem;
    font-size: large;
    color: white;
    text-decoration: none;
    transition: background-color 0.2s ease;
    background-color: transparent;
    width: 100%;
    border: none;
}

.adminNav button:hover,
.adminNav button.active {
    background-color: var(--color-blue);
}


@media (max-width: 760px) {

    .adminSidebar {
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        z-index: 1000;
    }

    .adminSidebar.open {
        transform: translateX(0);
    }
}