.buttonIcon {
    margin-right: 5px;
    margin-left: 0px;
}

/* Boton de editar */
.editButton {
    background-color: var(--color-blue);
    border-color: white;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: var(--border-radius);
    cursor: pointer;
    margin: 2px;
    height: 40px;
    width: 108px;
}

.editButton:hover {
    background-color: white;
    border-color: var(--color-navy);
    color: var(--color-navy);
}

/* Boton de eliminar */
.deleteButton {
    background-color: #e74c3c;
    border-color: white;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: var(--border-radius);
    cursor: pointer;
    margin: 2px;
    height: 40px;
    width: 108px;
}

.deleteButton:hover {
    background-color: white;
    border-color: #e74c3c;
    color: #e74c3c;
}

/* Boton de informacion */
.infoButton {
    background-color: #3498db;
    border-color: white;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: var(--border-radius);
    cursor: pointer;
    margin: 2px;
    height: 40px;
    width: 108px;
}

.infoButton:hover {
    background-color: white;
    border-color: #3498db;
    color: #3498db;
}

/* Yes No Button */
.yesNoButton {
    width: 100px;
    height: 40px;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    padding: 2px;
}

.yesNoButton.yes {
    background-color: var(--chart-3);
    /* border-color: var(--chart-3); */
}

.yesNoButton.no {
    background-color: #e74c3c;
    /* border-color: #e74c3c; */
}

/* validate payment button */
.validatePaymentButton {
    background-color: green;
    border-color: white;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: var(--border-radius);
    cursor: pointer;
    margin: 2px;
    height: 40px;
    width: 140px;
}

.validatePaymentButton:hover {
    background-color: white;
    border-color: green;
    color: green;
}

/* Sent Order Button */
.sentOrderButton {
    background-color: var(--chart-2);
    border-color: white;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: var(--border-radius);
    cursor: pointer;
    margin: 2px;
    height: 40px;
    width: 140px;
}

.sentOrderButton:hover {
    background-color: white;
    border-color: var(--chart-2);
    color: var(--chart-2);
}

/* Add Transaction Button  */
.addTransactionButton {
    border-color: white;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: var(--border-radius);
    cursor: pointer;
    margin: 2px;
    height: 40px;
    width: 140px;
}

.addTransactionButton:hover {
    background-color: white;
    border-color: var(--color-green);
    color: var(--color-green);
}